body {
  font-size: .9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dfdfdf;
}

h1 {
  font-size: 1.5em;
  margin: 10px 2px;
}

.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: stretch;
  justify-items: center;
  }
#gallery-item {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.3);
  max-width: 300px;
  background-color: white;

  
}

#link {
  margin: 10px 2px;
}

#gallery-item a {
  overflow-wrap: break-word;
  color: black;
}