body {
  font-size: .9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(230,203,198);
  background: radial-gradient(circle, rgba(230,203,198,1) 0%, rgba(208,150,139,1) 100%); 
     }

h1 {
  font-size: 1.5em;
  margin: 10px 2px;
}

h4 {
  overflow-wrap: break-word;  
  margin-left: 5px;
}

.grid { 
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
  }
#gallery-item {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  max-width: 300px;
  background-color: white;
  border-radius: 2px 2px 0 0;
  padding-bottom: 20px;
  margin: 0 10px;
  
}
#gallery-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

img {
  border-radius: 2px 2px 0 0;
}

#link {
  margin: 10px 5px;
}

#gallery-item a {
  overflow-wrap: break-word;
  color: black;
}